.vs/
*.sln.cache
*.sdf
*.opensdf
*.db
*.opendb
*.VC.db
*.VC.opendb
*.pdb
*.idb
*.exe

/Game/x64/
/Stellar/x64/

/x64/Debug/Stellar/
/x64/Release/Stellar/

Settings.cfg
imgui.ini
/x64/Release/Game/Assets
